body {
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 0 auto;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

main {
  margin: 0 auto;
  display: grid;
  width: 451px;
  height: 450px;
  /* border: 1px solid; */
  grid-template-columns: repeat(3, 150px);
  /* grid-template-areas: "header header header"; */
}
/* .grid-item-1 {
  grid-area: header;
  text-align: center;
  justify-content: center;
} */
.containers {
  border: 3px solid;
  height: 150px;
  /* margin: 0 auto; */
  text-align: center;
}

.x,
.o {
  margin: 0 auto;
  font-size: 130px;
}

.hidden {
  display: none;
}
.winner {
  font-size: 2rem;
}

.reset {
  margin-top: 2rem;
  padding: 20px 30px;
}
