main {
  display: grid;
  width: 451px;
  height: 450px;
  /* border: 1px solid; */
  grid-template-columns: repeat(3, 150px);
  /* grid-template-areas: "header header header"; */
}
/* .grid-item-1 {
  grid-area: header;
  text-align: center;
  justify-content: center;
} */
.containers {
  border: 1px solid;
  height: 150px;
}
